/********** Template CSS **********/
:root {
    --primary: rgba(90, 142, 14, 0.7);
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

/*** Chat Zalo ***/
#linkzalo {
    position: fixed;
    top: 50%;
    right: 0;
    width: 100%;
}

.jscroll-to-top {
    bottom: 100px
}

.fcta-zalo-ben-trong-nut svg path {
    fill: #fff
}

.fcta-zalo-vi-tri-nut {
    position: absolute;
    bottom: 50%;
    right: 20px;
    z-index: 999;
}

.fcta-zalo-nen-nut,
div.fcta-zalo-mess {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16)
}

.fcta-zalo-nen-nut {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: #0068ff;
    border-radius: 50%;
    position: relative
}

.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
    content: "";
    position: absolute;
    border: 1px solid #0068ff;
    background: #0068ff80;
    z-index: -1;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border-radius: 50%;
    animation: zoom 1.9s linear infinite
}

.fcta-zalo-nen-nut::after {
    animation-delay: .4s
}

.fcta-zalo-ben-trong-nut,
.fcta-zalo-ben-trong-nut i {
    transition: all 1s
}

.fcta-zalo-ben-trong-nut {
    position: absolute;
    text-align: center;
    width: 60%;
    height: 60%;
    left: 10px;
    bottom: 30px;
    line-height: 70px;
    font-size: 25px;
    opacity: 1
}

.fcta-zalo-ben-trong-nut i {
    animation: lucidgenzalo 1s linear infinite
}

.fcta-zalo-nen-nut:hover .fcta-zalo-ben-trong-nut,
.fcta-zalo-text {
    opacity: 0
}

.fcta-zalo-nen-nut:hover i {
    transform: scale(.5);
    transition: all .5s ease-in
}

.fcta-zalo-text a {
    text-decoration: none;
    color: #fff
}

.fcta-zalo-text {
    position: absolute;
    top: 6px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transform: scaleX(-1);
    transition: all .5s;
    line-height: 1.5
}

.fcta-zalo-nen-nut:hover .fcta-zalo-text {
    transform: scaleX(1);
    opacity: 1
}

div.fcta-zalo-mess {
    position: absolute;
    bottom: 6px;
    right: 60px;
    z-index: 999;
    background: #fff;
    padding: 7px 25px 7px 15px;
    color: #0068ff;
    border-radius: 50px 0 0 50px;
    font-weight: 700;
    font-size: 15px
}

.fcta-zalo-mess span {
    color: #0068ff !important
}

span#fcta-zalo-tracking {
    font-family: Roboto;
    line-height: 1.5
}

.fcta-zalo-text {
    font-family: Roboto
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    margin: 15px 0;
    padding: 0 3rem;
    transition: .5s;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.header-carousel {
    height: 700px;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: rgba(90, 142, 14, 0.7);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 5px;
}

.header-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 5px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: rgba(90, 142, 14, 0.4);;
}

@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #DDDDDD;
}

.bounce {
    display: flex;
    justify-content: space-between;
    height: 50px;
    overflow: hidden;
    position: relative;
    background: rgba(90, 142, 14, 0.7);
    color: #333;
}

.bounce p {
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.bounce img {
    width: 65px;
    height: 30px;
}

/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--primary) !important;
}


/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: skew(20deg);
    z-index: 1;
}


/*** Category ***/
.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}

.about-item {
    min-height: 900px;
    text-align: left;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.about-item a {
    text-decoration: underline;
    color: rgba(90, 142, 14, 0.7);
}

.about-item__icon {
    font-size: 45px;
}

.about-item .text-primary {
    margin: 20px 0;
}


/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    display: flex;
    flex-direction: column;
    height: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.img-fluid {
    flex: 1;
}

.property-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}

.property-item .codepro-custom-btn:hover {
    color: white;
}

.codepro-custom-btn {
    color: #fff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: none
}

.codepro-btn-12 {
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px
}

.codepro-btn-12 span {
    background: rgb(0, 172, 238);
    background: rgba(90, 142, 14, 0.7);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s
}

.codepro-btn-12 span:nth-child(1) {
    box-shadow: -7px -7px 20px 0 #fff9, -4px -4px 5px 0 #fff9, 7px 7px 20px 0 #0002, 4px 4px 5px 0 #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px
}

.codepro-btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px
}

.codepro-btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.codepro-btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}

/*** Select Input ***/
#course option[value=""][disabled] {
    display: none;
}

#result {
    display: block;
    text-align: center;
    color: var(--primary);
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* Gallery CSS */
.gallery,
.gallery-videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.gallery-videos a {
    position: relative;
}

.gallery-videos a .box-content {
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 0;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: opacity 0.6s, transform 0.6s;
    transform: scale(0, 1);
}

.box-content p {
    margin: 0;
    text-align: center;
}

.gallery-videos a:hover .box-content {
    opacity: 1;
    transform: scale(1);
}

.gallery a img,
.gallery-videos a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: .5s;
}

.gallery a img:hover {
    transform: scale(1.2);
}

.content-about-item {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.content-about-item__icon {
    padding: 11px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: #0068ff;
    border: 1px dashed #0068ff;
}

.content-about-item__icon:hover {
    color: #0004ff;
}

.tooltip-inner {
    background-color: #00acd6;
    color: #fff;
  }